:root {
    --background-color: rgb(29, 29, 29);
    --text-color: white;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
.filmList {
    display: grid;
    grid-template-columns: 3;
}

